
<script>
$(document).ready(function() {
$('#myCarousel').carousel({
    interval: 4000
});

// handles the carousel thumbnails
$('[id^=carousel-selector-]').click( function(){
  var id_selector = $(this).attr("id");
  var id = id_selector.substr(id_selector.length -1);
  id = parseInt(id);
  $('#myCarousel').carousel(id);
  $('[id^=carousel-selector-]').removeClass('selected');
  $(this).addClass('selected');
});

// when the carousel slides, auto update
$('#myCarousel').on('slid', function (e) {
  var id = $('.item.active').data('slide-number');
  id = parseInt(id);
  $('[id^=carousel-selector-]').removeClass('selected');
  $('[id=carousel-selector-'+id+']').addClass('selected');
});    
    
});


  $( function() {
    $( "#slider-range-min" ).slider({
      range: "min",
      value: 5000,
      min: 1000,
      max: 40000,
      slide: function( event, ui ) {
        $( "#amount" ).val( ui.value  + " per person per day" );
      }
    });
    $( "#amount" ).val( $( "#slider-range-min" ).slider( "value" ) +  " per person per day" );
  } );

   $( function() {
    $( "#slider-range-time" ).slider({
      range: "min",
      value: 2,
      min: 1,
      max: 30,
      slide: function( event, ui ) {
        $( "#time" ).val( ui.value + " Days" );
      }
    });
    $( "#time" ).val( $( "#slider-range-time" ).slider( "value" ) + " Days" );
  } );
  </script>
  <script>
  $( function() {
    $( "#speed" ).selectmenu();
  } );
  </script>
<div class="panel panel-default"  style="padding:20px;">
<p>
    <label for="amount">Select Amount you want to spend on this trip:-</label>
    <br/>
  <input type="text" id="amount" readonly style="border:0; font-size:18px;float:right;color:#111111; font-weight:bold;"><span style="border:0; font-size:18px;float:right;color:#111111; font-weight:bold;">&#8377;</span><br/>
</p>
<div id="slider-range-min"></div>



</div>
  
  <div class="row panel">
  <div class="col-md-6">
<%= image_tag("goa_main.jpg" , :class => 'img-responsive'  ) %>
  </div>
<div class="col-md-6">
<a onclick="$('#slider').show();" class="btn btn-primary btn primary"> View Friends Pictures </a>
</div>
  </div>

    <!-- main slider carousel -->
        <div class="col-md-12 panel" style="display:none" id="slider">
            <a onclick="$('#slider').hide();" class="btn pull-right"> x </a>
 
                <div class="col-md-12" id="carousel-bounding-box">
                    <div id="myCarousel" class="carousel slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item" data-slide-number="0">
                                <img src="http://placehold.it/1200x480&amp;text=one" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="1">
                              <img src="http://placehold.it/1200x480/888/FFF" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="2">
                                <img src="http://placehold.it/1200x480&amp;text=three" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="3">
                                <img src="http://placehold.it/1200x480&amp;text=four" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="4">
                                <img src="http://placehold.it/1200x480&amp;text=five" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="5">
                                <img src="http://placehold.it/1200x480&amp;text=six" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="6">
                                <img src="http://placehold.it/1200x480&amp;text=seven" class="img-responsive">
                            </div>
                            <div class="item" data-slide-number="7">
                                <img src="http://placehold.it/1200x480&amp;text=eight" class="img-responsive">
                            </div>
                        </div>
                        <!-- main slider carousel nav controls --> <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>

                        <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                    </div>
                </div>
        <br/><br/>
                <div class="col-md-12" id="slider-thumbs">
        
            <!-- thumb navigation carousel items -->
        <center>
          <ul class="list-inline">
          <li> <a id="carousel-selector-0" class="selected">
            <img src="http://placehold.it/80x60&amp;text=one" class="img-responsive">
          </a></li>
          <li> <a id="carousel-selector-1">
            <img src="http://placehold.it/80x60&amp;text=two" class="img-responsive">
          </a></li>
          <li> <a id="carousel-selector-2">
            <img src="http://placehold.it/80x60&amp;text=three" class="img-responsive">
          </a></li>
          <li> <a id="carousel-selector-3">
            <img src="http://placehold.it/80x60&amp;text=four" class="img-responsive">
          </a></li>
                <li> <a id="carousel-selector-4">
            <img src="http://placehold.it/80x60&amp;text=five" class="img-responsive">
          </a></li>
          <li> <a id="carousel-selector-5">
            <img src="http://placehold.it/80x60&amp;text=six" class="img-responsive">
          </a></li>
          <li> <a id="carousel-selector-6">
            <img src="http://placehold.it/80x60&amp;text=seven" class="img-responsive">
          </a></li>
          <li> <a id="carousel-selector-7">
            <img src="http://placehold.it/80x60&amp;text=eight" class="img-responsive">
          </a></li>
            </ul></center>
        
    </div>

        </div>
        </div>
    <!--/main slider carousel-->

